includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    symfony:
        console_application_loader: ./phpstan-console-application.php
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
