parameters:
    ignoreErrors:
        -
            message: "#^Variable method call on object\\.$#"
            count: 1
            path: src/Command/AddMassMediaCommand.php

        - # NEXT_MAJOR: Remove this issue.
            message: "#^Call to static method getInstance\\(\\) on an unknown class Sonata\\\\EasyExtendsBundle\\\\Mapper\\\\DoctrineCollector\\.$#"
            count: 1
            path: src/DependencyInjection/SonataMediaExtension.php
