parameters:
    ignoreErrors:
        -
            # TODO: Remove this integration, the last version of this dependency is too old to be installed
            message: "#^Class OpenCloud\\\\ObjectSource\\\\Service not found\\.$#"
            count: 1
            path: src/Resources/config/gaufrette.php

        -
            # TODO: Remove this integration, the last version of this dependency is too old to be installed
            message: "#^Class OpenCloud\\\\OpenStack not found\\.$#"
            count: 1
            path: src/Resources/config/gaufrette.php

        -
            # TODO: Remove this integration, the last version of this dependency is too old to be installed
            message: "#^Class OpenCloud\\\\Rackspace not found\\.$#"
            count: 1
            path: src/Resources/config/gaufrette.php
