{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataMediaBundle:MediaAdmin:provider_create.twig.html' %}

{% block title %}{% trans 'title_add_file' from 'MediaBundle' %}{% endblock %}

{% block form %}
    <form method="POST" action="{{ admin.generateUrl('create', params) }}" enctype="multipart/form-data">
        {{ form_hidden(form) }}

        <p>
            {{ form_label(form.binary_content) }} <br />
            {{ form_field(form.binary_content, {'class' : 'title'}) }}
            {{ form_errors(form.binary_content) }}
        </p>

        <input type="submit" value="{% trans 'btn_create' from 'MediaBundle' %}" />
    </form>

{% endblock %}