{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBaseApplicationBundle::standard_layout.html.twig' %}

{% block title %}{% trans 'title_select_provider' from 'MediaBundle' %}{% endblock %}

{% block content %}
    <ul>
        {% for code, provider in providers %}
            <li><a href="{{ configuration.generateUrl('create', params|merge({'provider': code})) }}">{{ provider.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}