{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_provider'|trans({}, 'SonataMediaBundle') }}{% endblock %}

{% block content %}
    <ul>
        {% for code, provider in providers %}
            <li><a href="{{ admin.generateUrl('create', {'provider': provider.name}) }}">{{ provider.name|trans({}, 'SonataMediaBundle') }}</a></li>
        {% else %}
            <li>{{ 'no_provider_available'|trans({}, 'SonataMediaBundle') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
