{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set media = attribute(object, field_description.name) %}

    {% if media is not null %}
        <a href="{{ admin.generateObjectUrl(route_name, object) }}">
            {{ media_thumbnail(media, 'admin', {'width': 75, 'height': 60}) }}
        </a>
    {% endif %}
{% endblock field %}
