{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
    <div class="box box-primary">
        <div class="box-header">
            <h1 class="box-title">
                {{ "label.select_context"|trans({}, 'SonataMediaBundle') }}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <strong class="text-info">{{ persistent_parameters.context|trans({}, 'SonataMediaBundle') }}</strong> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for name, context in media_pool.contexts %}
                            <li>
                                <a href="{{ admin.generateUrl('list', {'context' : name }) }}">
                                    {% if name == persistent_parameters.context %}
                                        <span class="pull-right">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    {% endif %}
                                    {{ name|trans({}, 'SonataMediaBundle') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </h1>
        </div>
    </div>
{% endblock %}
